.recommend-product-list {
  grid-template-columns: repeat(2, auto);
  > .recommend-product-list-item {
    align-self: flex-start;
    width: 200px;
    > .img-wrapper {
      width: inherit;
      aspect-ratio: 1;
      position: relative;
      > .coupon-available {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 40px;
        height: 28px;
      }
    }
    > .product-info-area {
      padding: 0 10px 24px 10px;
      > .product-info {
        align-items: stretch;
        > .product-name {
          max-height: 40px;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-all;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
      }
    }
  }
}
.scroll-footer {
  padding: 16px 0 24px;
  display: flex;
  justify-content: center;
  gap: 8px;
  > .scroll-loader {
    width: 16px;
    height: 16px;
    background-color: var(--gray-300);
  }
  > .scroll-loader:first-child {
    background-color: var(--gray-200);
  }
  > .scroll-loader:last-child {
    background-color: var(--gray-400);
  }
}
