.home { padding-bottom: 48px; }
.home :global(.slide-list) { position: relative; height: calc(400px * 4 / 3); }
.home :global(.slide-list) > :global(.icon) { position: absolute; z-index: 1; top: 0; bottom: 0; height: 100%; cursor: pointer; }
.home :global(.slide-list) > :global(.icon):first-child { left: 0; }
.home :global(.slide-list) > :global(.icon):last-child { right: 0; }
.home :global(.slide-wrapper) { max-width: 400px; overflow-x: scroll; overflow-y: hidden; -ms-overflow-style: none; scrollbar-width: none; }
.home :global(.slide-list-item) { position: relative; flex-shrink: 0; width: 400px; aspect-ratio: 3 / 4; overflow: hidden; }
.home :global(.slide-list-item) > :global(.container) { position: absolute; z-index: 1; padding: 0 32px 50px; }
.home :global(.progress-bar) { position: absolute; right: 16px; bottom: 16px; left: 16px; box-shadow: 0 0 16px var(--gray-600); }
.home :global(.progress-bar) > div { width: 50px; height: 4px; background-color: rgb(245 245 245 / 20%); }
.home :global(.progress-bar) > :global(.active) { border-radius: 9999px; background-color: rgb(255 255 255 / 80%); }
.home :global(.gate-list) { max-width: 400px; padding: 0 32px; overflow-x: scroll; }
.home :global(.gate-list-wrapper) { grid-auto-flow: row; grid-template: repeat(2, 1fr) / repeat(4, 1fr); width: max-content; }
.home :global(.gate-wrapper) { padding: 4px 12px 4px 4px; cursor: pointer; background-color: #fff; border: 1px solid var(--gray-300); }
.home :global(.gate-info) { flex-grow: 1; }
.home :global(.feed-list) { padding: 0 32px; }
.home :global(.card) { width: 335px; padding: 0 0 18px; overflow: hidden; }
.home :global(.card-info) { padding: 18px 20px 0; }
.home :global(.product-list) { padding: 18px 20px 0; }
.home :global(.product-list-item) { padding: 12px 0; border-top: 1px solid var(--gray-200); }
.home :global(.product-wrapper) { grid-template-columns: 60px 1fr 24px; }
.home :global(.product-info) { height: 60px; flex-grow: 1; }
.home :global(.product-name) { display: -webkit-box; max-width: 180px; overflow: hidden; word-break: break-all; text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 2; }
.home :global(.toggled-icon-button) { width: 24px; height: 24px; padding: 0; margin: 0; cursor: pointer; background-color: transparent; border: 0; }
